body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Добавляем фоновый цвет */
}

header, nav, footer {
    text-align: center;
    padding: 10px;
    color: #0000CC;
    background-color: #fff; /* Добавляем фоновый цвет */
    border-bottom: 1px solid #ccc; /* Добавляем разделительную линию */
}

header h1 {
    color: #555;
}

main {
    padding: 20px; /* Увеличиваем отступы для содержимого */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Стили для главной страницы */
section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    margin-right: 20px; /* Сдвигаем картинки влево */
}

/* Стили для формы обратной связи */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Добавляем рамку */
    box-sizing: border-box; /* Учитываем размеры рамки в общем размере элемента */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стили для подвала */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #0000CC;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column a {
    color: #CCCCCC;
    text-decoration: none;
}

.footer-column a:hover {
    color: #555;
}

/* Flexbox */
main {
    display: flex;
    flex-wrap: wrap; /* Оборачиваем элементы на мобильных устройствах */
}

.main-text {
    flex: 1; /* Отводим максимальное пространство для текста */
    margin-right: 20px; /* Добавляем отступ между текстом и изображениями */
}

/* Позиционирование */
nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Устанавливаем z-index для навигационного меню */
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-right: 0;
    }
    nav ul li:last-child {
        margin-bottom: 20px;
    }
    .footer-column {
        flex: 100%; /* При разрешении до 768px ширина столбца будет 100% */
        margin-bottom: 20px;
    }
}
